@model BiblioTech.Models.Genero

@{
        ViewData["Title"] = "Genero";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes do gênero</title>
</head>
<body>

<div>
    <h4>Gênero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição do gênero
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoGenero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGenero">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
</body>
</html>
